<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm(validateForm)">
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
      <nz-input formControlName="userName" [nzPlaceHolder]="'用户名'" [nzSize]="'large'" class="user-input">
        <ng-template #prefix>
          <i class="anticon anticon-user input-icon"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">请输入用户名!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
      <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密  码'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock input-icon"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码!</div>
      <div nz-form-explain *ngIf="auth?.hasError" style="color: #f04134">{{auth.errMsg}}</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>记住密码</span>
      </label>
      <a class="login-form-forgot" class="login-form-forgot">忘记密码？</a>

      <button nz-button class="login-form-button"
              [nzType]="'primary'"
              [nzSize]="'large'"
              [nzLoading]="(status|async).isLoading"><span>{{(status|async).msg}}</span></button>
      <a routerLink="/register">立  即 注    册</a>
    </div>
  </div>
</form>

