<div class="my-title">修 改 密 码</div>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm(validateForm)">
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.oldpsd">
      <nz-input formControlName="oldpsd" [nzType]="'password'" [nzPlaceHolder]="'旧密 码'" [nzSize]="'large'" class="user-input">
        <ng-template #prefix>
          <i class="anticon anticon-user input-icon"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.oldpsd.dirty&&validateForm.controls.oldpsd.hasError('required')">请输入密码!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.newpsd">
      <nz-input formControlName="newpsd" [nzType]="'password'" [nzPlaceHolder]="'新  密  码'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock input-icon"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.newpsd.dirty&&validateForm.controls.newpsd.hasError('required')">请输入密码!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.reppsd">
      <nz-input formControlName="reppsd" [nzType]="'password'" [nzPlaceHolder]="'确  认  密  码'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock input-icon"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.reppsd.dirty&&validateForm.controls.reppsd.hasError('required')">请输入密码!</div>
    </div>
  </div>
  <div class="customize-footer">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleSubmit($event)">
      提交
    </button>
    <div nz-button class="cancel-btn" [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">取 消</div>
  </div>
</form>
