:host ::ng-deep .logo {
  /*width: 32px;*/
  /*height: 32px;*/
  /*background: #333;*/
  /*border-radius: 6px;*/
  /*margin: 16px 84px;*/
  /*margin-left: 50px;*/
  /*background-image: url("../../assets/logo-icon-sm.png");*/
  /*background-size: cover;*/
  /*background-position: center left;*/
  height: 32px;
  background-color: #333;
  border-radius: 6px;
  margin: 16px;
  cursor: pointer;
}
.logo span{
  float: right;
  margin-right: 15px;
  color: #fff;
  line-height: 32px;
  font-size: 15px;
}
.logo img {
  float: left;
  width: 32px;
  border-radius: 6px;
}
.my-title{
  margin-left: 15px;
  color: #fff;
  line-height: 32px;
  font-size: 18px;
}
:host ::ng-deep.ant-menu-inline .ant-menu-item {
  font-size: 15px;
}
:host ::ng-deep.ant-menu-inline .ant-menu-submenu-title {
  font-size: 16px;
}
:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  color: #fff;
}
:host ::ng-deep .trigger:hover {
  color: #108ee9;
}
:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}
.main-container{
  min-height: 100%;
}
.my-ngconteny{
  margin:15px;
}
.rightcopy{
  text-align: center;
  padding: 16px;
  background-color: #ECECDE;
}
.set-btn{
  float: right;
  margin-right: 18px;
}
.my-home {
  font-size: 15px!important;
  border-bottom: 1px solid #333;
}
.my-content {
  padding: 16px;
  background-color: #fff;
  border-radius: 6px;
}
.top-btn {
  position: fixed;
  right: 15px;
  bottom: 60px;
}
