.my-btn {
  position: relative;
  font-size: 16px;
  padding: 5px 20px;
  height: 37px;
}
.my-btn input {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 135px;
  z-index: 1000;
  cursor: pointer;
}
.add-file-list {
  margin-top: 25px;
  padding: 15px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
}
.file-content{

  height: 230px;
  padding: 8px;
  background-color: #fff;
  word-break: break-word;
  text-align: center;
}
.file-content i {
  float: right;
  font-size: 16px;
  cursor: pointer;
}
.file-content p {
  margin: 5px 0;
}
.file-content i:hover {
  color: #108ee9;
  transform: scale(1.1);
}
.filt-item {
  margin-bottom: 15px;
}
.my-btns {
  margin-top: 15px;
}
.upload-btn {
  margin-right: 15px;
}
