<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm(validateForm)">
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
      <nz-input formControlName="userName" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-user input-icon"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">请输入用户名!</div>
      <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('minlength')">用户名最少3位!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
      <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密  码'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock input-icon"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码!</div>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('minlength')">密码名最少4位!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <button nz-button class="register-form-button"
              [nzType]="'primary'"
              [nzSize]="'large'"
              [nzLoading]="isLoading">{{statusMes}}</button>
      <div nz-button class="register-form-button to-login" [nzType]="'default'" [nzSize]="'large'" routerLink="/login">登  录</div>
    </div>
  </div>
</form>

